.todo-main{
    margin: auto;
}
.todo-item{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.input-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item-text-b{
    width: 100%;
}

.completed{
    text-decoration: line-through;
}

.uncompleted{
    text-decoration: none;
}