.todo-item {
  display: flex;
  background: aqua;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid;
  margin-top: 10px;
  align-items: center;
}

.todo-item__label {
  display: flex;
  flex-grow: 1;
}

.todo-item__desc {
  flex-grow: 1;
  padding-left: 10px;
}

.todo-item__desc--checked {
  text-decoration: black;
  color: blueviolet;
}
