.todo-block {
    background-color: #a2b9bc;

}

.notes-list {
    list-style: none;
    font-size: 30px;
}


.notes-list li {
    width: 100%;
    cursor: pointer;
}


.notes-list li div {
    text-align: center;
    width: 100%;
}

.notes-list li div:hover {
    background-color: #b2ad7f;
}


.notes-list-outer {
    width: auto;
    margin-bottom: 20px;
}

.notes-title {
    font-size: 30px;
    text-align: center;
}

.notes-input-and-button {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.notes-input {
    background-color: #878f99;
    width: 200px;
    height: 40px;
    border: black solid;
    font-size: 25px;
    transition: background-color 0.7s;
}

::placeholder { /* Most modern browsers support this now. */
    color: rgb(0, 0, 0, 20%);
}

.notes-input:hover {
    background-color: cadetblue;
}

.notes-button {
    display: block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 200px;
    height: 40px;
    background-color: #878f99;
    transition: background-color 0.7s;
}

.notes-button:hover {
    background-color: cadetblue;
}